.lista {
  display: flex; 
  justify-content: center; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.item {
  margin: 15px; 
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 0; 
  margin: 0 10px;
}

.link:hover {
  color: #000; 
  border-bottom: 2px solid #0d0d0d; 
}


.ingresarBtn {
  background-color: #4fc3f7;
  color: white !important;
  padding: 8px 14px;
  border-radius: 8px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.ingresarBtn:hover {
  background-color: #039be5;
}
